header#left-header
	h1#logo Noder
	if(req.user)
		- console.log(req.user)
		section#user-info
			figure.picture
				if(req.user.picture.files.mini)
					img(src=req.user.picture.files.mini)
				else
					i.icon.plus.add-image
			div.info
				h2 #{req.user.fullName}
				ul#tools
					li
						a(href="/users/"+req.user._id, title=__("Settings"))
							i.icon.cog
					li
						a(href="/logout",title=__("Logout"))
							i.icon.off
				p.overview
					a(href="/articles",title=__("Articles"))
						i.icon.file-alt
						| &nbsp;#{req.user.meta.total}&nbsp;
						em #{__("articles")}&nbsp;&nbsp;
					a(href="/articles#comments",title=__("Comments"))
						i.icon.comment
						| &nbsp;#{req.user.meta.comments}&nbsp;
						em #{__("comments")}&nbsp;&nbsp;
					a(href="/articles#shares",title=__("Shares"))
						i.icon.share
						| &nbsp;#{req.user.meta.shares}&nbsp;
						em #{__("shares")}&nbsp;&nbsp;
					a(href="/articles#likes",title=__("Likes"))
						i.icon.thumbs-up
						| &nbsp;#{req.user.meta.likes}&nbsp;
						em #{__("likes")}&nbsp;&nbsp;