header#left-header
	h1#logo Noder
	if(req.user)
		div#user-info
			figure.picture
				if(req.user.picture.files.mini)
					img(src=req.user.picture.files.mini)
				else
					i.icon.plus.add-image
			h2 #{req.user.username}
				aside#tools
					i.icon.cog
					i.icon.off
			p.overview
				i.icon.file
				| #{req.user.articles}
				em #{__("articles")}
				i.icon.comment
				| #{req.user.comments} 
				em #{__("comments")}
				i.icon.share
				| #{req.user.shares} 
				em #{__("shares")}
				i.icon.thumbs-up
				| #{req.user.likes}
				em #{__("likes")}