header#left-header
	h1#logo Noder
	if(req.user)
		- console.log(req.user)
		section#user-info
			figure.picture
				if(req.user.picture.files.mini)
					img(src=req.user.picture.files.mini)
				else
					i.icon.plus.add-image
			div.info
				h2 #{req.user.fullName}
				ul#tools
					li
						i.icon.cog
					li
						i.icon.off
				p.overview
					i.icon.file
					| &nbsp;#{req.user.meta.total}&nbsp;
					em #{__("articles")}&nbsp;&nbsp;
					i.icon.comment
					| &nbsp;#{req.user.meta.comments}&nbsp;
					em #{__("comments")}&nbsp;&nbsp;
					i.icon.share
					| &nbsp;#{req.user.meta.shares}&nbsp;
					em #{__("shares")}&nbsp;&nbsp;
					i.icon.thumbs-up
					| &nbsp;#{req.user.meta.likes}&nbsp;
					em #{__("likes")}&nbsp;&nbsp;