extends ../layouts/default

block scripts
	script(src='/js/modules/feeds.js')
	script(src='/js/views/articles/form.js')

block left-content
	- var action = '/articles/add'
	if (!article.isNew)
		- action = '/articles/'+article.id

	if (typeof errors !== 'undefined')
			ul
				each error in errors
					li= error.type

	form(method="post", action=action, enctype="multipart/form-data")
		if (!article.isNew)
			input(type="hidden", name="_method", value="PUT")

		fieldset#hidden
			if (!article.isNew && article.image && article.image.files && article.image.files.length)
				img(src=article.image.cdnUri + '/mini_' + article.image.files[0])
			input#images(type='file', name="image[]")
			input#title(type='text', name="title", value=article.title, placeholder="#{__('Enter the title')}")
			textarea#tags(name="tags", placeholder="#{__('Enter the tags')}")= article.tags
			button.green(type='button') #{__('Save')}
		textarea#desc(type='text', rows="5", name="body", placeholder="#{__('Enter the article description')}")=article.body

		fieldset#action
			button.purple(type='submit') #{__('Publish')}

block right-header
	h1 #{__('Inspirations')}
		a(href="#add-feed",title=__('Add Feed'),class='async add-feed')
			i.icon.plus-sign
	aside#search
		input(type="text",name="search",placeholder=__("Anything to search"))
		i.icon.search
	aside#add-feed
		fieldset.search
			input(type='text',name='feed-search',placeholder=__('Feed url'))
			i.icon.search
		ul.feeds-list
			li
				p.no-entries
					i.icon.warning
					|   #{__('No feed found')}

block right-content

