extends ../layouts/default

block mid-content
	form(action="/users/"+user.id, method="post")
		fieldset#account-info
			h1 #{__('Account info')}
			figure#userpicture
				if( user.picture.files.thumb )
					img(src=user.picture.files.thumb)
				else
					i.icon.plus-sign.add-image
			input#username(type='text', name="lastName", placeholder="#{__('Lastname')}", value=user.lastname)
			input#blogtitle(type='text',name="blog.title", placeholder="#{__('Blog title')}", value=user.blog.title)
			textarea#blogdescription(name="blog.descripton",placeholder="#{__('Blog description')}")= user.blog.description
		fieldset#bind-to
			h1 #{__("Bind to")}
			each provider in providers
				if(user.hasOwnProperty(provider))
					span.disabled(class=provider)
						i.icon(class=provider+"-sign")
						| user.name
				else
					a(href="/auth/"+provider,class=provider)
						i.icon(class=provider+"-sign")
						| #{__("add a "+provider+" account")}
			input#autopublish(type="checkbox",name="autopublishtoall",value="true",checked="true")
			label(for="autopublish") #{__('Auto publish articles in all accounts')}
		fieldset#action
			button.button.green(type='submit') #{__('Save')}
