extends auth

block auth
  form.signup.form-horizontal(action="/users", method="post")
    .control-group
      label.control-label(for='name') #{__('Full name')}
      .controls
        input#name(type='text', name="name", placeholder="#{__('Full name')}", value=user.name)

    .control-group
      label.control-label(for='email') #{__('Email')}
      .controls
        input#email(type='text', name="email", placeholder="#{__('Email')}", value=user.email)

    .control-group
      label.control-label(for='username') #{__('Username')}
      .controls
        input#username(type='text', name="username", placeholder="#{__('Username')}", value=user.username)

    .control-group
      label.control-label(for='password') #{__('Password')}
      .controls
        input#password(type='password', name="password", placeholder="#{__('Password')}")

    .form-actions
      button.btn.btn-primary(type='submit') #{__('Sign up')}
      &nbsp;
      | or&nbsp;
      a.show-login(href="/login") #{__('login')}
